// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #bae8e8;
$dark_blue: #272343;
$yellow: #ffd803;
$orange: #E67E22;
$green: #1EDD88;
$gray: #F2994A;
$light-gray: #F4F4F4;

//color from happyhue.co


