// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: $cue_blue;
$yellow: $cue_yellow;
$orange: #E67E22;
$green: #1EDD88;
$gray: $cue_dark_blue;
$light-gray: #F4F4F4;

//color from happyhue.co
$cue_yellow: #ffd803;
$cue_dark_blue: #272343;
$cue_blue: #bae8e8;
