// Define variables for your color scheme
//color from happyhue.co
$cue_yellow: #ffd803;
$cue_dark_blue: #272343;
$cue_blue: #6be0e0;

// For example:
$red: #FD1015;
$blue: #bae8e8;
$light-blue: #e3f6f5;
$dark_blue1: #272343; //headline
$dark_blue2: #2d334a; //paragraph

$yellow: #FFD937;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgba(0, 0, 0, 0.8);


$light-gray: #F4F4F4;

$white: #fffffe;

//color from happyhue.co
a {
  color: $gray !important;
}

h1, h2{
  color: $dark_blue1 !important;
  // text-weight: bold;
}

p{
  color: $dark_blue2 !important;
}


body {
  background-color: $light-blue !important;
}
