<h1>Active projects</h1>
<% @user_projects.each do |user_project| %>
  <%= user_project.project.title %>
  <%= user_project.project.description %>
<% end %>
<p>Find me in app/views/users/dashboard.html.erb</p>
