<div class="row">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-2" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-act-proj-tab" data-toggle="tab" href="#nav-act-proj" role="tab" aria-controls="nav-act-proj" aria-selected="true">Active</a>
      <a class="nav-link mb-1" id="nav-achieved-tab" data-toggle="tab" href="#nav-achieved" role="tab" aria-controls="nav-achieved" aria-selected="false">Achieved</a>
      <a class="nav-link mb-1" id="nav-created-tab" data-toggle="tab" href="#nav-created" role="tab" aria-controls="nav-created" aria-selected="false">Created</a>
      <a class="nav-link mb-1" id="nav-wishlist-tab" data-toggle="tab" href="#nav-wishlist" role="tab" aria-controls="nav-wishlist" aria-selected="false">Wishlist</a>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content tab-contents-progresshub" id="nav-tabContent">
      <%= render 'shared/tab_active', active_projects: @active_projects %>
      <%= render 'shared/tab_achieved', finished_projects: @finished_projects %>
      <%= render 'shared/tab_created' %>
      <%= render 'shared/tab_wishlist' %>
    </div>
  </div>
</div>
