<div class="tab-pane fade p-5" id="nav-achieved" role="tabpanel" aria-labelledby="nav-achieved-tab">
  <h1>Finished Projects</h1>
  <% finished_projects.each do |user_project| %>
    <p><%= user_project.project.title %></p>
  <% end %>
</div>
