<div class="tab-pane fade p-5" id="nav-achieved" role="tabpanel" aria-labelledby="nav-achieved-tab">
  <h1>Finished Projects</h1>
  <% finished_projects.each do |finished_project| %>
    <%= link_to user_project_path(finished_project) do %>
      <div class="card-proj-dashbord">
        <%= cl_image_tag finished_project.project.photo.key, alt: "alttext", width: 120, height: 120, crop: :thumb %>
        <div class="card-proj-infos w-100">
          <div class="proj-info-text">
            <h2><%= finished_project.project.title %></h2>
            <div class="d-flex justify-content-between">
              <div>
                <p>Completed!</p>
              </div>
            </div>
          </div>
          <div class="progress mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: <%= 100 %>%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    <% end  %>
  <% end  %>
</div>