<div class="container py-4">
  <div class="cards">
    <% @projects.each do |project| %>
      <div class="card" >
        <%= image_tag "https://img.delicious.com.au/5PiJMQy-/w759-h506-cfill/del/2015/12/cornetti-italian-croissants-24713-1.jpg", alt: "card-img" %>
        <div class="box p-2">
          <div class="card-index-info">
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
          </div>
          <div class="card-index-footer">
            <%= "By #{project.user.username}" %>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>
<!--
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div
 -->
