.chatbox {
  background: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid $dark_blue1;
  margin-right: 16px;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 10px;
  }

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow-y: scroll;
  max-height: 70vh;
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}
