// basic window
// tab-user-project-act-proj {
//   background-color:
// }

// profile
.profile-dash, .skill-tags, .quote{
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  border: 2px solid $dark_blue1;
}


// projects
.user-project-dash {
  justify-content: space-evenly;
}

.user-projects-dash {
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  border: 2px solid $dark_blue1;
}

// dashboard project card
.card-proj-dashbord {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  margin-bottom: 24px;
  border-radius: 16px;
  border: 2px solid $dark_blue1;
}

.card-proj-dashbord img {
  height: 100% !important;
  width: 190px !important;
  object-fit: cover !important;
  border-right: 2px solid $dark_blue1;
}

.card-proj-dashbord h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

.card-proj-dashbord p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-proj-dashbord .card-proj-infos {
  padding: 16px;
}

