#badge, #script, #join {
  width: 22px;
  height:22px;
}

#badge {
  margin-bottom: 5px;
}

.photo-dashbord {
  height: 120px;
  width: 120px;
  border-radius: 3px;
}

.numbers {
  font-size: 16px;
}

.profile-info {
  margin-left: 18px;
}
