#badge, #script {
  width: 40px;
  height:40px;
  gap: 10px;
}

#badge {
  margin-bottom: 5px;
}

.photo-dashbord {
  height: 120px;
  width: 120px;
  border-radius: 3px;
}

.numbers {
  font-size: 22px;
}
