.tab-buttons-progresshub {
  background-color: $light-blue;
}

.tab-contents-progresshub {
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  border: 2px solid $dark_blue1;
}

.project-step-image img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}

// .tab-user-project-overview {
//   text-align: center;
// }


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $dark_blue1;
    background-color: $yellow;
    border: 2px solid $dark_blue1;
}
